<h3 style="padding: 10px;">Tela de usuário</h3>

<form action="" style="padding: 10px;" #formValidate="ngForm"> 
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="id">ID</label>
            <input type="text" [(ngModel)]="usuario.id" class="form-control" id="id" name="id" readonly autocomplete="false">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nome">Nome</label>
            <span style="color: red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
            <input type="text" [(ngModel)]="usuario.nome" class="form-control" id="nome" name="nome" required autocomplete="false" #nomeValidate="ngModel">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="login">E-mail ou Login</label>
            <span style="color: red; font-size: 23px;" *ngIf="loginValidate.invalid"> *</span>
            <input type="text" [(ngModel)]="usuario.login" class="form-control" id="login" name="login" required autocomplete="false" #loginValidate="ngModel">
        </div>
        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <span style="color: red; font-size: 23px;" *ngIf="senhaValidate.invalid"> *</span>
            <input type="password" [(ngModel)]="usuario.senha" class="form-control" id="senha" name="senha" required autocomplete="false" #senhaValidate="ngModel">
        </div>
    </div>


    <div class="card text-center">
        <div class="card-header">
            Telefone Contato
        </div>
        <div class="card-body" style="padding-left: 1px;">
            <div class="form-row">    
                <div class="form-group col-md-3">
                    <input type="text" mask="(00) 0 0000-0000" class="form-control" [(ngModel)]="telefone.numero" id="numero" name="numero"> 
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary" (click)="addFone()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr *ngFor="let fone of usuario.telefones; let posicaoTelefone = index">                
                <td>{{fone.id}}</td>
                <td>{{fone.numero | mask:'(00) 0 0000-0000'}}</td>
                <td><button class="btn btn-danger" (click)="deletarTelefone(fone.id, posicaoTelefone)">Delete</button></td>
            </tr>
        </tbody>
    </table>




    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="button" 
                [routerLink]="['/usuarioList']" 
                routerLinkActive="router-link-active"  class="btn btn-primary">
                Voltar
            </button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;"
                (click)="novo()">
                Novo
            </button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;" 
                (click)="salvarUsuario()" [disabled]="formValidate.invalid">
                Salvar
            </button>                    
        </div>
    </div>
</form>