<br /><br />

<form class="form-inline">    
    <div class="form-group mx-sm-3 mb-2">        
        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisa por nome">
    </div>
    <button type="button" (click)="consultarUsuario()" class="btn btn-primary mb-2">Buscar</button>
</form>

<br /><br />

<table class="table">
    <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">Nome</th>
        <th scope="col">Excluir</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">   
            <td>{{student.id}}</td>
            <td>{{student.login}}</td>
            <td>{{student.nome}}</td>  
            <td><button (click)="deleteUsuario(student.id)" class="btn btn-primary">Delete</button></td>       
        </tr>
    </tbody>
</table>